.row {
	margin: 0;
}

.container-fluid {
	padding: 0;
}

.background-img {
	background-image: url("../img/spookyTrees.jpg");
	background-size: cover;
}

.quiz-body {
	width:90%;
	height:1000px;
	margin: 5% 5%;
	text-align: center;
	background-image: url("../img/burried.png");
	border-radius: 10px;
	box-shadow: 4px 4px rgba(1, 1, 1, 0.8);
	padding: 20px;
	border: 1px solid #eee;
}

.heading {
	padding: 0 4% 0;
	display: inline-block;
	float:left;
	width: 100%;
}

.heading h1 {
	font-family: 'Creepster', cursive;
	color: #650505;
	font-size: 4.8em;
	letter-spacing: .1em
}

.heading h2 {
	font-family: 'IM Fell English', serif;
	color: #fff;
	margin-bottom: 30px;
}

.info {
	border-bottom: 1px solid #eee;
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
 	background-clip:         padding-box;
	background-image: url("../img/assault.png");
	border-radius: 10px 10px 0 0;
}
.numInfo {
	margin: 30px 0;
}

.numInfo h1 {
	margin-top: 10px;
	font-family: 'Creepster', cursive;
	color: #650505;
	font-size: 3.2em;

}

.score {
	width: 300px;
	margin-top: 8px;
	padding: 5px 60px 0 0 ;
	display: inline-block;
	float: right;
}

#title {
	font-size: 1.5em;
	color: #650505;
}

.spookImg img {
	width:50%;
	display: inline-block;
	height: 135px;
	float: left;
	border-radius: 4px 0 0 4px;
	border-right: 1px solid #eee;
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
 	background-clip:         padding-box;
}

.spookImg {
	border-radius: 4px;
	border: 1px solid #eee;
	display: inline-block;
	background-image: url("../img/blackorchid.png");
	-webkit-background-clip: padding-box; 
  	-moz-background-clip:    padding; 
 	background-clip:         padding-box;
}

.scoreText {
	width: 40%;
	margin: 0;
	color: white;
	font-family: 'Creepster', cursive;
	padding:2px 0;
	margin: auto;
	display: inline-block;
}

.scoreText h3 {
	font-size: 1.3em;
}

.game {
	background-image: url("../img/blackorchid.png");
	border: 1px solid #eee;
	border-radius: 10px;
	margin-bottom: 30px;
	display: inline-block;
}

.question img {
	width: 280px;
	height: 350px;
	border-radius: 4px;
	border: 1px solid #eee;
}

.question h2 {
	padding: 40px 0 30px;
	font-family: 'IM Fell English', serif;
	color: #ddd;
	margin:0;
	font-size: 2.4em;
}

.answers {
	display: inline-block;
	margin:30px 0 0 15%;
}
.answers ul {
	padding: 15px 10% 0 0;
	font-family: 'IM Fell English', serif;
	list-style: none;
	text-align: right;
	display: inline-block;
}

.answers li {
	padding: 25px 0;
	color: #ddd;
	font-size: 2em;
}

.answers button {
	background-image: url("../img/assault.png");
	border-radius: 4px;
	border: 1px solid #eee;
	width: 300px;
}

#next {
	width:150px;
	margin: auto;
	margin-right: 75px;
}




